body{
    background-color: blueviolet;
}
#mainDiv{
    background-color: lavender;
    height:100vh;
    margin:0;
    width:90%;
}
#content{
    background-color: aquamarine;
}
#root{
    background-color: blanchedalmond;
}